<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="calendar"></div>
    <script type="text/template" id="calendar-title">
      <div class='calendar-title'>
        <span class='calendar-title-prev' data-ui='prevYear'><<</span>
        <span class='calendar-title-prev prev-month' data-ui='prevMonth'><</span>
        <div class='calendar-title-info'>
          <span class='calendar-title-year'><%- year %></span>
          <span class='calendar-title-sep'> - </span>
          <span class='calendar-title-month'><%- month %></span>
        </div>
        <span class='calendar-title-next' data-ui='nextMonth'>></span>
        <span class='calendar-title-next' data-ui='nextYear'>>></span>
      </div>
    </script>
    <script type="text/template" id="calendar-weekdays">
      <div class='calendar-weekdays'>
      <% weekdaysIndex.forEach(day => { %>
        <span class='calendar-weekday weekday-<%- day %>'><%- weekdaysAbbr[day] %></span>
      <% }) %>
      </div>
    </script>
    <script type="text/template" id="calendar-days">
      <div class='calendar-week'>
      <% for (let i = 1; i <= daysInMonth; i++) { %>
        <% const date = new Date(year, month, i - 1).getDay() %>
        <% if (i === 1 && date !== 1) { %>
          <% for (let j = 1; j < date; j++) { %>
        <span class='calendar-day day-empty'></span>
          <% } %>
        <% } %>
        <span class='calendar-day day-<%- date %>' data-day='<%- i %>'><%- i %></span>
        <% if (date === 0) { %>
      </div>
          <% if (i <= daysInMonth) { %>
        <div class='calendar-week'>
          <% } %>
        <% } %>
      <% } %>
    </script>
  </body>
  <script>
    require('./calendar.js')
  </script>
</html>
