body {
  margin: 0;
}

#calendar {
  font-size: 18px;
  font-family: 'ubuntu';
  background: linear-gradient(to bottom, #505050, #383838);
  float: left;
  color: white;
  padding: 10px 0;
}

.calendar-title {
  padding: 10px 10px;
}
.calendar-title-prev, .calendar-title-next {
  width: 25px;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
}
.calendar-title-info {
  padding: 0;
  margin: 0;
  width: calc(100% - 125px);
  display: inline-block;
  text-align: center;
  -webkit-app-region: drag;
}
.calendar-week {
  float: left;
  clear: left;
  padding: 0 5px;
}
.calendar-weekday {
  padding: 15px 0;
  display: inline-block;
  width: 50px;
  height: 20px;
  text-align: center;
  float: left;
}
.calendar-day {
  padding: 15px 0;
  display: inline-block;
  width: 50px;
  height: 20px;
  text-align: center;
  float: left;
}
.calendar-day.selected {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 5px 5px 0 0;
}

.event-creator input {
  border: none;
  padding: 15px 20px;
  display: block;
  width: calc(100% - 40px);
  font-size: 16px;
  font-family: ubuntu;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.event-creator input:focus {
  outline: none;
}
.event-area .events .event {
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
}
.event-area .events .event:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}
